<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block title %}{% endblock %}</title>
    
    <meta name="description" content="KNMI PyWPS - PyWPS is an implementation of the Web Processing Service standard from the Open Geospatial Consortium. PyWPS is written in Python.">
    
    
    <meta name="keywords" content="KNMI, PyWPS, PyWPS4, WPS, OGC, processing">
    
    <meta name="author" content="KNMI">
    <link rel="stylesheet" href="http://pywps.org/stylesheets/styles.css">
    <link rel="stylesheet" href="http://pywps.org/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Hosted on GitHub Pages - Theme by orderedlist (https://github.com/orderedlist -->

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ request_url }}"><img src="http://cdn.knmi.nl/assets/logo_large-1f49334b8856e16f352187f1b52d0edf258976c6329407b0b75f5f109ea012fb.png"/></a>
        <ul style="list-style-type: none;">
          <li><a href="http://pywps.org/docs">Docs</a></li>
        </ul>
        <img src="http://svn.osgeo.org/osgeo/marketing/logo/png8/150/OSGeo_incubation.png"/>
      </header>
      <section>{% block major_content %} {% endblock %}</section>
      <footer>
        <p><small>info@knmi.nl</small>. <a rel="license" title="This work is licensed under a Creative Commons Attribution 4.0 International License" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a></p>
      </footer>
    </div>
    <script src="http://pywps.org/javascripts/scale.fix.js"></script>
  </body>
</html>
